/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvh;
  background-image: var(--gradients);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
}

.title-header {
  display: flex;
  font-weight: 400px;
  justify-content: center;
  align-items: center;
  font-size: 49px;
  line-height: 49px;
  font-family: var(--font-title-ps2p);
}

.subtitle-header {
  display: flex;
  font-family: var(--font-title-ps2p);
  font-weight: 400;
  font-size: 14px;
  justify-self: center;
  line-height: 14px;
  margin-top: 20px;
  text-transform: uppercase;
}

.container {
  background-color: var(--backround-color);
  margin-top: 100px;
  border: 2px var(--border-color) solid;
  width: 100%;
  justify-self: center;
  padding-bottom: 120px;
  padding-top: 120px;
}

.container__card {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  row-gap: 50px;
}

.card__title {
  font-family: var(--font-title-Inter);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  border: 1px var(--backround-color) solid;
  padding: 7px 11px;
  line-height: 1.1;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px var(--border-color) solid;
  background-color: var(--backround-color);
}

.image__container {
  position: relative;
}

.label {
  position: absolute;
  font-family: var(--font-title-ps2p);
  font-size: var(--button-size);
  text-shadow: -1px 0 #fff, 0 1px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  right: 13px;
  top: 25px;

}

.main__text, .main__sub-text {
  font-family: var(--font-title-Inter);
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 21px;
}

.card__description {
  display: flex;
  flex-direction: column;
  padding: 22px 30px 26px 24px;
  gap: 26px;
}

.card__like {
  display: flex;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  justify-self: flex-end;
  justify-content: end;
  gap: 7px;
}

.button__icon {
  cursor: pointer;
  border: none;
  block-size: 38px;
  background-color: var(--backround-color);
  padding: 0;
}

.like-icon {
  inline-size: 38px;
  block-size: 36px;
}

.card__like-button {
  background-color: var(--backround-color);
  block-size: 38px;
  inline-size: 130px;
}

@supports (-webkit-text-stroke: 1px var;)

.button__text {
  font-family: var(--font-title-ps2p);
  font-size: var(--button-size);
}

.save-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  inline-size: 335px;
  padding: 15px 0 15px 0;
  margin-block-start: 52px;
  margin-block-end: 105px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-color);
  cursor: pointer;
  background-color: var(--backround-color);
  white-space: nowrap;
}

.dialog-memory[open] {
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
  inline-size: 360px;
}

.dialog::backdrop {
  background-color: rgb(0, 0, 0 / 0.75);
}

.dialog__window {
  font-family: var(--font-title-ps2p);
  font-size: var(--button-size);
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 20px;
  text-transform: uppercase;
  padding-block-end: 30px;
}

.icon__memory {
  block-size: 100%;
}

.dialog__-text {
  line-height: 150%;
}

.button {
  position: relative;
  cursor: pointer;
  border-style: solid;
  transition: 0.3s ease;
}

.button__memory {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  line-height: 90%;
  inline-size: 100%;
  margin-block-end: 0;
  max-block-size: 38px;
}

.floppy-icon {
  block-size: 28px;
  inline-size: 28px;
}


@media (width > 375px) {
  .title-header {
    font-size: 65px;
  }

  .container {
    width: clamp(23.5rem, 100vw, 43.75rem);
    padding-top: 135px;
    padding-bottom: 132px;
  }

  .card__title {
    width: clamp(23.5rem, 100vw, 43.75rem);
    justify-self: center;
  }

  .label::after {
    inset: 25px 25px auto auto;
  }

  .save-button > svg {
    flex-direction: unset;
    gap: 5px;
    padding: 12px 21px;
  }

}