/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-title-Inter), sans-serif;
  font-variation-settings: "wght" var(--font-weight-normal);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: clamp(375px, 100%, 700px);
  background-image: var(--gradients);
  background-position: center;
  background-size: cover;
  align-items: center;
  margin: 0 auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  background-color: var(--backround-color);
  min-block-size: 364px;
  inline-size: 100%;
}

.title-header {
  display: flex;
  font-weight: 400px;
  justify-content: center;
  align-items: center;
  font-size: 49px;
  line-height: 49px;
  font-family: var(--font-title-ps2p);
}

.subtitle-header {
  display: flex;
  font-family: var(--font-title-ps2p);
  font-weight: 400;
  font-size: 14px;
  justify-self: center;
  line-height: 14px;
  margin-top: 20px;
  text-transform: uppercase;
}

.container__card {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.card__title {
  font-family: var(--font-title-Inter);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  border: 1px var(--backround-color) solid;
  margin: 4px 10px 6px 10px;
}

.main__image {
  display: block;
  width: 100%;
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px var(--border-color) solid;
  background-color: var(--backround-color);
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.image__container {
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 0;
  border-block-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  clip-path: ;
}

.label {
  position: absolute;
  font-family: var(--font-title-ps2p);
  font-size: var(--button-size);
  text-shadow: -1px 0 #fff, 0 1px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  right: 13px;
  top: 21px;

}

.main__text {
  font-family: var(--font-title-Inter);
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 21px;
}

.card__description {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 26px;
}

.card__like {
  display: flex;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  justify-self: flex-end;
  justify-content: end;
  gap: 7px;
}

.button__icon {
  cursor: pointer;
  border: none;
  block-size: 38px;
  background-color: var(--backround-color);
  padding: 0;
}

.like-icon {
  inline-size: 38px;
  block-size: 36px;
}

.card__like-button {
  background-color: var(--backround-color);
  block-size: 38px;
  inline-size: 130px;
}

@supports (-webkit-text-stroke: 1px var(--backround-color)) {
  .label {
    -webkit-text-stroke: 1px var(--backround-color);
    text-shadow: none;
  }
}

.button {
  position: relative;
  font-family: var(--font-title-ps2p), sans-serif;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  border: 2px solid var(--border-color);
  background-color: var(--backround-color);
  appearance: none;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--fill-button-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--fill-button-color);
}

.button__text {
  position: relative;
  display: block;
  font-family: var(--font-title-ps2p);
  font-size: var(--button-size);
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  inline-size: 335px;
  padding: 15px 0 15px 0;
  margin-block-start: 52px;
  margin-block-end: 105px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.save-button:hover .floppy-wrapper {
  filter: invert(1);
}

.floppy-wrapper {
  inline-size: 21px;
  block-size: 21px;
}

.save-button__icon {
  inline-size: 100%;
  block-size: 100%;
}

.floppy-dialog-wraper {
  display: block;
  inline-size: 39px;
  block-size: 39px;
}

.dialog {
  font-family: var(--font-title-ps2p), sans-serif;
  text-transform: uppercase;
  line-height: 150%;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  background-color: var(--backround-color);
  inline-size: 355px;
  min-block-size: 190px;
  padding: 0;
}

.dialog::backdrop {
  background-color: var(--backround-color-backdrop);
}

.dialog__window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-block-size: 190px;
  block-size: 100%;
  inline-size: 100%;
  padding: 30px;
}

.dialog-floppy {
  block-size: 100%;
}

.dialog-button {
  inline-size: 293px;
  block-size: 40px;
  text-transform: uppercase;
}

.dialog__content {
  display: flex;
  align-items: center;
  inline-size: 293px;
  block-size: 62px;
}

@media (width <= 390px) {
  .page {
    inline-size: 100%;
  }
}


@media (width <= 375px) {
  .page {
    inline-size: 100%;
  }

  .header {
    min-block-size: 327px;
    margin-block-start: 100px;
    margin-block-end: 100px;
  }

  .label {
    right: 10px;
  }

  .save-button {
    flex-direction: column;
    max-inline-size: 310px;
  }

  .floppy-wrapper {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    inline-size: 340px;
  }

  .dialog-button {
    inline-size: 260px;
  }

  .dialog__content {
    inline-size: 257px;
  }
}