/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvh;
  background-image: var(--gradients);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
}

.title-header {
  display: flex;
  font-weight: 400px;
  justify-content: center;
  align-items: center;
  font-size: 49px;
  line-height: 49px;
  font-family: var(--font-title-ps2p);
}

.subtitle-header {
  display: flex;
  font-family: var(--font-title-ps2p);
  font-weight: 400;
  font-size: 14px;
  justify-self: center;
  line-height: 14px;
  margin-top: 20px;
  text-transform: uppercase;
}

.container {
  background-color: var(--backround-color);
  margin-top: 100px;
  border: 2px var(--border-color) solid;
  width: 100%;
  justify-self: center;
  padding-bottom: 120px;
  padding-top: 120px;
}

.container__card {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  row-gap: 50px;
}

.card__title {
  font-family: var(--font-title-Inter);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  border: 1px var(--backround-color) solid;
  padding: 7px 11px;
  line-height: 1.1;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px var(--border-color) solid;
  background-color: var(--backround-color);
}

.wrap-image {
  display: inline-flex;
  width: 100%;
  position: relative;
  border: 1px var(--border-color) solid;
}

.main__text, .main__sub-text {
  font-family: var(--font-title-Inter);
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 21px;
}

.card__desc {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px var(--border-color) solid;
  gap: 25px;
}

.card__like {
  display: flex;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  justify-self: flex-end;
}

.button__icon {
  cursor: pointer;
  border: none;
  block-size: 38px;
  background-color: var(--backround-color);
  padding: 0;
}

.like-icon {
  inline-size: 38px;
  block-size: 36px;
}

.card__like-button {
  background-color: var(--backround-color);
  block-size: 38px;
  min-inline-size: 130px;
}

.button__text {
  font-family: var(--font-title-ps2p);
  font-size: ;
}