/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--font-title-ps2p: 'PressStart2P';
--background-gradient-main:#d3d3d3;
--background-gradient-line:#e7e7e7;


--backround-color: #fff;
--border-color: #000;
}