/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--font-title-ps2p: 'PressStart2P', sans-serif;
--font-title-Inter: 'Inter';
--background-gradient-main:#d3d3d3;
--background-gradient-line:#e7e7e7;
--background-gradient-lines:#1a1a1a;
--font-weight-normal: 400;
--font-weight-bold: 700;

--gradients: repeating-linear-gradient(-90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
repeating-linear-gradient(#d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
repeating-linear-gradient(#e7e7e7 0.01%, #1a1a1a);

--backround-color: #fff;
--border-color: #000;
}